{% extends "base.html" %}

{% block content %}
<h5>Please read the following info to confirm machine use:</h5>
<ul>
    <li>Your timeslot for this machine lasts one hour.</li>
    <li>Do not leave the machine unattended.</li>
    <li>Do not start any jobs on the machine that last longer than an hour. These may be cancelled.</li>
    <li>Please make sure that your files are ready BEFORE using the laser PC</li>
    <li>Please remember to scan the QR code when you are finished.</li>
</ul>


{% endblock %}
